/* 
    Document   : iBreed
    Created on : Jan 15, 2013, 8:42:25 AM
    Author     : In-SideFX
    Description:
        Demo purpose
*/  

/*
*	Drag me button
*/
.dragme-button{
    -fx-background-radius: 0;
    -fx-border-style: null;
    -fx-background-color: null;
    -fx-background-image:url("./up_64_FX.png");
    -fx-background-repeat: no-repeat;
}

.keyboard{
    -fx-image:url("./pencil_64.png");
}

.time-button{
    -fx-background-radius: 0;
    -fx-border-style: null;
    -fx-background-color: null;
    -fx-background-image:url("./clock_64.png");
    -fx-background-repeat: no-repeat;
}